@charset "UTF-8";
/* スマートフォン用CSS */

.hidden-sp {
	display:none !important;
}
.hidden-pc {
	display: inherit !important;
}

html body {
    font-size:3vw;
}
img {
    width:100%;
}
.inner {
	width:100%;
}
.main_visual .inner {
    background: url(../img/top/bg01_sp.jpg) no-repeat right bottom;
    background-size:cover;
    max-width: auto;
    min-width: auto;
}
#header {
    padding:3.75% 5%;
}
.header-logo {
    width:27.5%;
}
.header-logo img {
    width:100%;
}
.img01 {
    margin:0; 
}
.gnav {
    padding:3.75% 0;
}
.gnav.is-fixed {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 10;
}
.gnav ul {
    width:90%;
    margin:0 5%;
}

section {
    margin-top:-16.75%;
    padding-top:16.75%;
}
.section02 .inner {
    padding:7.5% 0;
}
.section02 h4 {
    font-size: 2rem;
    color:#fff;
    background-color: #F39030;
    padding:0.6em 1em;
    margin-bottom:3.75%;
}
.section02 h3 img {
    width:100%;
    max-width: auto;
}
.section02 table {
    width:90%;
    margin:0 auto;
}
.section02 th,
.section02 td {
    width:100%;
    display:block;
    color:#5f5f5f;
    font-size:1.6rem;
    padding: 0.6em 0.5em;
    text-align: left;
    border-right:0px; 
    border-bottom:0px; 
}
.section02 th {
    background-color: #F8C791;
    white-space: nowrap;
    vertical-align: middle;
    font-size:1.6rem;
    line-height: 1.2;
}
.section02 th.req {
    position: relative;
}
.section02 th.req:after {
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #C1141B;
    content: "必須";
    color: #fff;
    font-size:1.4rem;
    padding:0.2em 0.6em;
    right:24px;
    position: absolute;
	top: 50%;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}
.section02 td {
    background-color: #f5f5f5;
}
.section02 input,
.section02 textarea,
.section02 select {
    font-size:1.6rem;
    padding:0.6em 0.8em;
}
.section02 input ~ input {
    margin-top:0.5em;
}
.short input {
    width:20;
    margin-right:0.5em;
}
.long input {
    width:100%;
}
.row01 input,
.row02 input {
    margin-right:1.5em !important;
}
.row01 th,
.row11 th {
    width:auto;
}
.row12 th {
    width:100%;
}
.nowrap {
    white-space: nowrap !important;
    vertical-align: middle;
}
.row01 td span,
.row02 td span {
    width:2em;
    display: inline-block;
}
.row03 td span,
.row11 td span {
    width:2em;
    margin-right:0;
    text-align: center;
    display: inline-block;
}
.row03 select:first-of-type,
.row11 select:first-of-type {
    margin-bottom:0.5em;
}
td.hidden-sp {
    display: none !important;
}
td.hidden-pc,
td.dark,
th.dark {
    background-color: #DDD;
    width:100%;
    display:block !important;
    color:#5f5f5f;
    font-size:1.6rem;
    padding: 0.6em 0.5em;
    text-align: left;
    border-right:0px; 
    border-bottom:0px; 
}
.section02 th:nth-of-type(2n) {
    padding-right:0;
}
.section02 td a {
    margin-left:0;
    margin-top:0.5em;
}

.section03 h3 {
    width:100%;
    background-color: #ee6e6e;
}
.section03 h3 img {
    width:100%;
    max-width: 960px;
    margin:0 auto;
}

.text01 {
    padding:0 5% 1.5em;
}
.kokuchisho h5,
.yakkan h5 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding:2em 0 0.5em;
}
.kokuchisho h6,
.yakkan h6{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    padding:0.8em;
    background-color: #fae6d6;
}
.kokuchijikoh4 {
    margin-top:3em;
}
.kokuchisho td {
    vertical-align: middle;
}
.kokuchijiko td {
    font-size:1.4rem;
}
.ul01 {
    padding:1em 3em;
}
.ul01 li {
    list-style-type: none;
    padding:0 0 0.5em 1em;
    text-indent: -1em;
    line-height: 1.8;
    font-size:1.6rem;
}
.ul01 li:before {
    content:"●";
    display: inline;
}

.yakkan th,
.yakkan td {}
.yakkan td span {
    text-indent: -1em;
    padding-left:1em;
    display: block;
}
.yakkan th {
    padding-right:0.5em;
}
.yakkan li {
    list-style-type: none;
    text-indent: -1em;
    padding-left:1em;
}
.yakkan li ul {
    padding:0;
}
.yakkan li li {
    display: block;
    float: left;
}
.yakkan li li:before {
    content:"・";
}
.yakkan li ~ li {
    padding-top: 0.8em;
}
.yakkan ul:first-of-type li ~ li {
    /*padding-top: 0em;*/
}
.yakkan td.indent {
    padding-left:1.5em;
}

.btn01 {
    position: relative;
    width: 90%;
    margin:0 auto;
    padding:3em 0;
}
.btn01:before {
    content:"";
    display:block;
    width:12px;
    height:12px;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    position: absolute;
	top: 50%;
	right: 10%;
	-webkit-transform: translate(0%, -50%) rotate(45deg);
	-moz-transform: translate(0%, -50%) rotate(45deg);
	-ms-transform: translate(0%, -50%) rotate(45deg);
	-o-transform: translate(0%, -50%) rotate(45deg);
	transform: translate(0%, -50%) rotate(45deg);
    z-index: 1;
}

.btn01 input {
    background-color: #F39130;
    color: #fff;
    display: block;
    font-size:1.8rem;
    padding:1.5em 0;
    position: relative;
    width:100%;
}

.section03 .inner {
    padding:3.75% 5% 0;
}
#footer h6 {
    width:100%;
    background-color: #f2a5a5;
}
#footer h6 img {
    width:100%;
    max-width: 960px;
    margin:0 auto;
}
#footer {
    background-color: #faf2f2;
}



.confirm h4 {
    margin-top:3em !important;
}
.confirm h5 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding:2em 0 0.5em;
}
.confirm .section02 .inner {
    padding: 0 0 56px;
}
.btn03 {
    position: relative;
    width: 45%;
    margin:0 2.5% 0 0;
    padding:5em 0;
    float:right;
}
.btn03:before {
    content:"";
    display:block;
    width:12px;
    height:12px;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    position: absolute;
	top: 50%;
	right: 10%;
	-webkit-transform: translate(0%, -50%) rotate(45deg);
	-moz-transform: translate(0%, -50%) rotate(45deg);
	-ms-transform: translate(0%, -50%) rotate(45deg);
	-o-transform: translate(0%, -50%) rotate(45deg);
	transform: translate(0%, -50%) rotate(45deg);
    z-index: 1;
}
.btn03 input {
    background-color: #F39130;
    color: #fff;
    display: block;
    font-size:18px;
    padding:1.5em 0;
    position: relative;
    width:100%;
}

.btn02 {
    position: relative;
    width: 45%;
    margin:0 0 0 2.5%;
    padding:5em 0;
    float:left;
}
.btn02:before {
    content:"";
    display:block;
    width:12px;
    height:12px;
    border-top:2px solid #5f5f5f;
    border-right:2px solid #5f5f5f;
    position: absolute;
	top: 50%;
	left: 10%;
	-webkit-transform: translate(0%, -50%) rotate(-135deg);
	-moz-transform: translate(0%, -50%) rotate(-135deg);
	-ms-transform: translate(0%, -50%) rotate(-135deg);
	-o-transform: translate(0%, -50%) rotate(-135deg);
	transform: translate(0%, -50%) rotate(-135deg);
    z-index: 1;
}
.btn02 a {
    background-color: #ccc;
    color: #5f5f5f;
    display: block;
    font-size:17px;
    padding:1.5em 0;
    position: relative;
    width:100%;
    text-align: center;
    text-decoration: none;
}

.btn04 {
    position: relative;
    width: 75%;
    margin:0 auto;
    padding:5em 0;
}
.btn04:before {
    content:"";
    display:block;
    width:12px;
    height:12px;
    border-top:2px solid #5f5f5f;
    border-right:2px solid #5f5f5f;
    position: absolute;
	top: 50%;
	left: 10%;
	-webkit-transform: translate(0%, -50%) rotate(-135deg);
	-moz-transform: translate(0%, -50%) rotate(-135deg);
	-ms-transform: translate(0%, -50%) rotate(-135deg);
	-o-transform: translate(0%, -50%) rotate(-135deg);
	transform: translate(0%, -50%) rotate(-135deg);
    z-index: 1;
}
.btn04 a {
    background-color: #ccc;
    color: #5f5f5f;
    display: block;
    font-size:17px;
    padding:1.5em 0;
    position: relative;
    width:100%;
    text-align: center;
    text-decoration: none;
}


.confirm2 .inner {
    padding:0 0 0;
}
.confirm2 h5 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding:2em 0 0.5em;
}
.confirm2 .big {
    font-weight: bold;
    text-align: center;
    font-size:1.4rem;
    margin:2em 0 1em;
    padding:0;
} 
.confirm2 .big span {
    display: inline-block;
    background: -webkit-linear-gradient(transparent 60%, #ffff66 60%);
    background: -o-linear-gradient(transparent 60%, #ffff66 60%);
    background: linear-gradient(transparent 60%, #ffff66 60%);       
}

.confirm2 .normal {
    font-weight: bold;
    color:#F1681E;
    font-size: 1.3rem;
    text-align: center;
}
.confirm2 .small {
    color:5f5f5f;
    font-size: 1.2rem;
    text-align: center;
}


.step {
    width:100%;
    padding:1em 0;
}
.step .inner {
    width:95%;
}
.step .inner img {
    width:100%;
}