@charset "UTF-8";
.hidden-sp {
	display:inherit !important;
}
.hidden-pc {
	display: none !important;
}

img {
    display: block;
}
.inner {
	width:960px;
	margin:0 auto;
	position:relative;
}
.main_visual {
    background-color: #F1F1EF;
}
.main_visual .inner {
    background: url(../img/top/bg01_pc.jpg) no-repeat right bottom;
    background-size:contain;
    width:100%;
    max-width: 1200px;
    min-width: 960px;
}
#header {
    padding:24px 0;
}
.header-logo {
    display: block;
    float:left;
    width:150px;
}
.header-logo img {
    width:100%;
}
.header-contact {
    display: block;
    float:right;
    border:1px solid #333;
    color:#333;
    text-decoration: none;
    padding:0.5em 1em;
}
.img01 {
    margin:16px 0 48px 80px; 
}
.gnav {
    padding:24px 0;
    background-color: rgba(255,255,255,.5)
}
.gnav.is-fixed {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    z-index: 10;
}
@media screen and ( min-width:961px ) {
    .gnav {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: calc(((100vw - 100%) / 2) * -1);
        margin-right: calc(((100vw - 100%) / 2) * -1);
        padding: 24 calc((100vw - 100%) / 2);
    }
}
.gnav ul {
    width:100%;
    max-width: 800px;
    margin:0 auto;
}
.gnav.is-fixed ul {
}
.gnav li {
    display: block;
    float:left;
    background-color: #fff;
}
.gnav1 {
    width:33.5%;
    border-radius: 40px 0 0 40px;
    -webkit-border-radius: 40px 0 0 40px;
    -moz-border-radius: 40px 0 0 40px;
}
.gnav2 {
    width:33%;
}
.gnav3 {
    width:33.5%;
    border-radius: 0 40px 40px 0;
    -webkit-border-radius: 0 40px 40px 0;
    -moz-border-radius: 0 40px 40px 0;
}
.gnav li img {
    width:100%;
    transition: all 0.1s linear;
}
.gnav li a:hover img {
    opacity: 0.75;
}

section {
    margin-top:-176px;
    padding-top:176px;
}
.section01 {
    background: 
        url(../img/top/bg01.png) no-repeat left 176px,
        url(../img/top/bg02.png) no-repeat right bottom;
}
.section02 .inner {
    padding:48px 0;
}
.section02 h4 {
    font-size: 2rem;
    color:#fff;
    background-color: #F39030;
    padding:0.6em 1em;
    margin-bottom:24px;
}
.section02 h3 {
    width:100%;
    background-color: #f5911c;
}
.section02 h3 img {
    width:100%;
    max-width: 960px;
    margin:0 auto;
}
.section02 table {
    width:100%;
}
.section02 th,
.section02 td {
    color:#5f5f5f;
    font-size:1.8rem;
    padding: 0.8em 1.2em;
    text-align: left;
    border-right:2px solid #fff; 
    border-bottom:2px solid #fff; 
}
.section02 th {
    background-color: #fae6d6;
    white-space: nowrap;
    vertical-align: middle;
}
.section02 th.req {
    position: relative;
}
.section02 th.req:after {
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #C1141B;
    content: "必須";
    color: #fff;
    font-size:1.4rem;
    padding:0.2em 0.6em;
    right:24px;
    position: absolute;
	top: 50%;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}
.section02 td {
    background-color: #f5f5f5;
}
.section02 input,
.section02 textarea,
.section02 select {
    font-size:2rem;
    padding:0.6em 0.8em;
}
.section02 input ~ input {
    margin-top:0.5em;
}
.short input {
    width:30%;
    margin-right:0.5em;
}
.long input {
    width:100%;
}
.row01 input,
.row02 input {
    margin-right:1.5em !important;
}
.row01 th,
.row11 th {
    width:30%;
}
.row12 th {
    width:15%;
}
.nowrap {
    white-space: nowrap !important;
    vertical-align: middle;
}
.row01 td span,
.row02 td span {
    width:3em;
    display: inline-block;
}
.row03 td span,
.row11 td span {
    width:2em;
    margin-right:1em;
    text-align: center;
    display: inline-block;
}
td.hidden-sp {
    display: table-cell !important;
}
td.hidden-pc {
    display: none !important;
}
td.dark {
    background-color: #DDD;
    color:#5f5f5f;
}
.section02 th:nth-of-type(2n) {
    padding-right:4.2em;
}
.section02 td a {
    display: inline-block;
    text-decoration: none;
    background-color: #F5861B;
    color:#fff;
    font-size:1.4rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding:0.5em 0.8em;
    margin-left:0.8em;
}

.section03 h3 {
    width:100%;
    background-color: #ee6e6e;
}
.section03 h3 img {
    width:100%;
    max-width: 960px;
    margin:0 auto;
}

.text01 {
    padding:0 0 1.5em;
    font-size:1.6rem;
}

.kokuchisho h5,
.yakkan h5 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding:2em 0 0.5em;
}
.kokuchisho h6,
.yakkan h6{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    padding:0.8em;
    background-color: #fae6d6;
}
.kokuchijikoh4 {
    margin-top:3em;
}
.kokuchisho td {
    vertical-align: middle;
}
.kokuchijiko td {
    font-size:1.4rem;
}
.ul01 {
    padding:1em 3em;
}
.ul01 li {
    list-style-type: none;
    padding:0 0 0.5em 1em;
    text-indent: -1em;
    line-height: 1.8;
    font-size:1.6rem;
}
.ul01 li:before {
    content:"●";
    display: inline;
}

.yakkan th,
.yakkan td {
    font-size:1.4rem;
}
.yakkan td span {
    text-indent: -1em;
    padding-left:1em;
    display: block;
}
.yakkan th {
    padding-right:6em;
}
.yakkan li {
    list-style-type: none;
    text-indent: -1em;
    padding-left:1em;
}
.yakkan li ul {
    padding:0 1.5em;
}
.yakkan li li {
    display: inline-block;
    padding-top: 0.2em !important;
}
.yakkan li li:before {
    content:"・";
}
.yakkan li ~ li {
    padding-top: 0.8em;
}
.yakkan h6 + ul li ~ li {
    padding-top: 0em;
}


.btn01 {
    position: relative;
    width: 50%;
    margin:0 auto;
    padding:3em 0;
}
.btn01:before {
    content:"";
    display:block;
    width:16px;
    height:16px;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    position: absolute;
	top: 50%;
	right: 10%;
	-webkit-transform: translate(0%, -50%) rotate(45deg);
	-moz-transform: translate(0%, -50%) rotate(45deg);
	-ms-transform: translate(0%, -50%) rotate(45deg);
	-o-transform: translate(0%, -50%) rotate(45deg);
	transform: translate(0%, -50%) rotate(45deg);
    z-index: 1;
}

.btn01 input {
    background-color: #F39130;
    color: #fff;
    display: block;
    font-size:2.2rem;
    padding:1.5em 0;
    position: relative;
    width:100%;
}

.section03 .inner {
    padding:56px 80px 0;
}
#footer h6 {
    width:100%;
    background-color: #f2a5a5;
}
#footer h6 img {
    width:100%;
    max-width: 960px;
    margin:0 auto;
}
#footer {
    background-color: #faf2f2;
}



.confirm h4 {
    margin-top:3em !important;
}
.confirm h5 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding:2em 0 0.5em;
}
.confirm .section02 .inner {
    padding: 0 0 56px;
}
.btn03 {
    position: relative;
    width: 45%;
    margin:0 auto;
    padding:5em 0;
    float:right;
}
.btn03:before {
    content:"";
    display:block;
    width:16px;
    height:16px;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    position: absolute;
	top: 50%;
	right: 10%;
	-webkit-transform: translate(0%, -50%) rotate(45deg);
	-moz-transform: translate(0%, -50%) rotate(45deg);
	-ms-transform: translate(0%, -50%) rotate(45deg);
	-o-transform: translate(0%, -50%) rotate(45deg);
	transform: translate(0%, -50%) rotate(45deg);
    z-index: 1;
}
.btn03 input {
    background-color: #F39130;
    color: #fff;
    display: block;
    font-size:22px;
    padding:1.5em 0;
    position: relative;
    width:100%;
}

.btn02 {
    position: relative;
    width: 45%;
    margin:0 auto;
    padding:5em 0;
    float:left;
}
.btn02:before {
    content:"";
    display:block;
    width:16px;
    height:16px;
    border-top:2px solid #5f5f5f;
    border-right:2px solid #5f5f5f;
    position: absolute;
	top: 50%;
	left: 10%;
	-webkit-transform: translate(0%, -50%) rotate(-135deg);
	-moz-transform: translate(0%, -50%) rotate(-135deg);
	-ms-transform: translate(0%, -50%) rotate(-135deg);
	-o-transform: translate(0%, -50%) rotate(-135deg);
	transform: translate(0%, -50%) rotate(-135deg);
    z-index: 1;
}
.btn02 a {
    background-color: #ccc;
    color: #5f5f5f;
    display: block;
    font-size:21px;
    padding:1.5em 0;
    position: relative;
    width:100%;
    text-align: center;
    text-decoration: none;
}

.btn04 {
    position: relative;
    width: 45%;
    margin:0 auto;
    padding:5em 0;
}
.btn04:before {
    content:"";
    display:block;
    width:16px;
    height:16px;
    border-top:2px solid #5f5f5f;
    border-right:2px solid #5f5f5f;
    position: absolute;
	top: 50%;
	left: 10%;
	-webkit-transform: translate(0%, -50%) rotate(-135deg);
	-moz-transform: translate(0%, -50%) rotate(-135deg);
	-ms-transform: translate(0%, -50%) rotate(-135deg);
	-o-transform: translate(0%, -50%) rotate(-135deg);
	transform: translate(0%, -50%) rotate(-135deg);
    z-index: 1;
}
.btn04 a {
    background-color: #ccc;
    color: #5f5f5f;
    display: block;
    font-size:21px;
    padding:1.5em 0;
    position: relative;
    width:100%;
    text-align: center;
    text-decoration: none;
}


.confirm2 .inner {
    padding:48px 0;
}
.confirm2 h5 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding:2em 0 0.5em;
}
.confirm2 .big {
    font-weight: bold;
    text-align: center;
    font-size:2.6rem;
    margin:2em 0 1em;
    padding:0;
} 
.confirm2 .big span {
    display: inline-block;
    background: -webkit-linear-gradient(transparent 60%, #ffff66 60%);
    background: -o-linear-gradient(transparent 60%, #ffff66 60%);
    background: linear-gradient(transparent 60%, #ffff66 60%);       
}

.confirm2 .normal {
    font-weight: bold;
    color:#F1681E;
    font-size: 2rem;
    text-align: center;
}
.confirm2 .small {
    color:5f5f5f;
    font-size: 1.4rem;
    text-align: center;
}


@media screen and ( min-width:641px ) {
    #footer a {
        pointer-events: none;
    }
}

.step {
    width:100%;
    background-color: #F5ADAC;
    padding:48px 0;
}
.step .inner {
    width:800px;
    margin:0 auto;
    padding:0 !important;
}

.kome:before {
    display:inline-block;
    content:"※";
}
.kome {
    display:inline-block;
    font-size:1.4rem;
    padding:0.8em 0.5em 0;
}


.renrakusaki {
    width:80%;
    text-align: center;
    margin:0 auto;
    display: block;
    padding:2em 0 0;
}
.renrakusaki dt,
.renrakusaki dd {
    font-weight: bold;
    font-size:18px;
}
.renrakusaki dt {}
.renrakusaki dd {}

.errormeg-head {
    background-color: #FFE0DD;
    color:#D80000;
    text-align: center;
    font-size:1.8rem;
    padding:0.8em 0;
    margin:0 0 1.5em;
}
.errormsgbox {
    padding:0;
}
.errormsg {
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #C1141B;
    color: #fff;
    font-size:1.4rem;
    padding:0.2em 0.6em;
    margin:0 0.5em 0.8em 0;
    font-weight: normal;
}